# example ltrs config file

# ltrs specific config
[ltrs]

# the logfile path / name
logfile=./logs/ltrs.log

# the time logfiles are stored in days.
logfileLifetime=3

# will be executet is some error message gets outputet. 
# The error message gets parsed to the onError scipt.
onError=./onError.sh


# task name
[example]

# remote path to make a snapshot from.
remotePath=/FULL/REMOTE/PATH

# path to a list file with remote pathts to make snapshots from.
remotePathList=remote.list

# the full path where to put the snapshots in.
snapshotPath=/FULL/SNAPSHOT/PATH

# the life time of the snapshots in days.
lifetime=99999

# the maximum amount of snapshots to keep. -1 = infinit amount.
amount=-1


# second backup level
[example2]

# backup level to copy snapshots from.
getFrom=example

# the full path where to put the snapshots in.
snapshotPath=/FULL/SNAPSHOT/PATH

# the life time of the snapshots in days.
lifetime=99999

# the maximum amount of snapshots to keep. -1 = infinit amount.
amount=-1